atari_py==0.2.6
cloudpickle==1.2.2
Cython==0.29.14
gym==0.15.4
imageio==2.6.1
matplotlib==3.1.2
numpy==1.19.1
opencv==4.4.0
pandas==0.25.3
tensorflow-gpu==2.1.0
tensorflow-estimator==2.1.0
texttable==1.6.2
